<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <semknox_productsearch>
            <semknox_productsearch_settings>
                <sxFrontendActive>1</sxFrontendActive>
                <sxUploadActive>1</sxUploadActive>
                <sxAnswerActive>1</sxAnswerActive>
                <sxCollectBatchSize>200</sxCollectBatchSize>
                <sxUploadBatchSize>200</sxUploadBatchSize>
                <sxRequestTimeout>15</sxRequestTimeout>
            </semknox_productsearch_settings>
        </semknox_productsearch>
    </default>
</config>