<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <preference for="Magento\CatalogSearch\Block\Result" type="Semknox\Productsearch\Block\CatalogSearch\Result" />
    <preference for="Magento\CatalogSearch\Block\SearchResult\ListProduct" type="Semknox\Productsearch\Block\CatalogSearch\SearchResult\ListProduct" />
    <preference for="Magento\Catalog\Block\Product\ProductList\Toolbar" type="Semknox\Productsearch\Block\Catalog\Product\ProductList\Toolbar" />
    <preference for="Magento\Theme\Block\Html\Pager" type="Semknox\Productsearch\Block\Theme\Html\Pager" />

    <preference for="Magento\LayeredNavigation\Block\Navigation\Search"  type="Semknox\Productsearch\Block\LayeredNavigation\Navigation\Search" />
    <preference for="Magento\Catalog\Model\Layer\FilterableAttributeListInterface" type="Magento\Catalog\Model\Layer\Category\FilterableAttributeList"/>

    <preference for="Magento\LayeredNavigation\Block\Navigation\FilterRenderer"  type="Semknox\Productsearch\Block\LayeredNavigation\Navigation\FilterRenderer" />

    <preference for="Magento\Catalog\Model\Layer\State"  type="Semknox\Productsearch\Model\Catalog\Layer\State" />
    <preference for="Magento\LayeredNavigation\Block\Navigation\State"  type="Semknox\Productsearch\Block\LayeredNavigation\Navigation\State" />

</config>