<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
 
    <!-- VIRTUAL Magento\CatalogSearch\Block\SearchResult\ListProduct --> 
    <preference for="Magento\CatalogSearch\Block\SearchResult\ListProduct" type="Semknox\Productsearch\Block\CatalogSearch\SearchResult\ListProduct" />
    
    <!-- Magento\CatalogSearch\Block\Result -->
    <type name="Magento\CatalogSearch\Block\Result">
        <plugin name="Semknox_Productsearch" type="Semknox\Productsearch\Interceptor\Block\CatalogSearch\Result" sortOrder="1" disabled="false" />
    </type>

    <!-- Magento\Catalog\Block\Product\ProductList\Toolbar -->
    <type name="Magento\Catalog\Block\Product\ProductList\Toolbar">
        <plugin name="Semknox_Productsearch" type="Semknox\Productsearch\Interceptor\Block\Catalog\Product\ProductList\Toolbar" sortOrder="1" disabled="false" />
    </type>

    <!-- Magento\Theme\Block\Html\Pager -->
    <preference for="Magento\Theme\Block\Html\Pager" type="Semknox\Productsearch\Block\Theme\Html\Pager" />
    <type name="Magento\Theme\Block\Html\Pager">
        <plugin name="Semknox_Productsearch" type="Semknox\Productsearch\Interceptor\Block\Theme\Html\Pager" sortOrder="1" disabled="false" />
    </type>

    <!-- Magento\LayeredNavigation\Block\Navigation\Search -->
    <type name="Magento\LayeredNavigation\Block\Navigation">
        <plugin name="Semknox_Productsearch" type="Semknox\Productsearch\Interceptor\Block\LayeredNavigation\Navigation" sortOrder="1" disabled="false" />
    </type>

    <!-- Magento\LayeredNavigation\Block\Navigation\State -->
    <type name="Magento\LayeredNavigation\Block\Navigation\State">
        <plugin name="Semknox_Productsearch" type="Semknox\Productsearch\Interceptor\Block\LayeredNavigation\Navigation\State" sortOrder="1" disabled="false" />
    </type>

    <!-- Magento\Catalog\Model\Layer\State -->
    <type name="Magento\Catalog\Model\Layer\State">
        <plugin name="Semknox_Productsearch" type="Semknox\Productsearch\Interceptor\Model\Catalog\Layer\State" sortOrder="1" disabled="false" />
    </type>

    <!-- Amasty\Shopby -->
    <preference for="Amasty\Shopby\Model\Request"  type="Semknox\Productsearch\Model\Amasty\Shopby\Request" />
    <preference for="Amasty\Shopby\Block\Navigation\FilterRenderer" type="Semknox\Productsearch\Block\Amasty\Shopby\Navigation\FilterRenderer"/>

</config>